<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Synolia_Recrutement::recrutement" title="Synolia Recrutement" module="Synolia_Recrutement" sortOrder="51" resource="Synolia_Recrutement::recrutement"/>
        <add
                id="Synolia_Recrutement::customerIpAddress"
                title="Customer Ip Addresses"
                module="Synolia_Recrutement"
                sortOrder="0"
                action="synolia_recrutement/customeripaddress/"
                resource="Synolia_Recrutement::customerIpAddress"
                parent="Synolia_Recrutement::recrutement"/>

    </menu>
</config>